Repository jphacks/NG_2304, pull requests merged in 2023-10, with the labels that each got.

#2 FastAPIの環境構築
  .github/workflows/tests.yml
  api/.dockerignore
  api/.editorconfig
  api/.flake8
  api/.gitignore
  api/.pre-commit-config.yaml
  api/README.md
  api/alembic.ini
  api/api/__init__.py
  api/api/__main__.py
  api/api/conftest.py
  api/api/db/base.py
  api/api/db/dao/__init__.py
  api/api/db/dao/dummy_dao.py
  api/api/db/dependencies.py
  api/api/db/meta.py
  api/api/db/migrations/__init__.py
  api/api/db/migrations/env.py
  api/api/db/migrations/script.py.mako
  api/api/db/migrations/versions/2021-08-16-16-53_819cbf6e030b.py
  api/api/db/migrations/versions/2021-08-16-16-55_2b7380507a71.py
  api/api/db/migrations/versions/__init__.py
  api/api/db/models/__init__.py
  api/api/db/models/dummy_model.py
  api/api/db/utils.py
  api/api/gunicorn_runner.py
  api/api/logging.py
  api/api/services/__init__.py
  api/api/settings.py
  api/api/static/docs/redoc.standalone.js
  api/api/static/docs/swagger-ui-bundle.js
  api/api/static/docs/swagger-ui.css
  api/api/tests/__init__.py
  api/api/tests/test_api.py
  api/api/tests/test_dummy.py
  api/api/tests/test_echo.py
  api/api/tkq.py
  api/api/web/__init__.py
  api/api/web/api/__init__.py
  api/api/web/api/docs/__init__.py
  api/api/web/api/docs/views.py
  api/api/web/api/dummy/__init__.py
  api/api/web/api/dummy/schema.py
  api/api/web/api/dummy/views.py
  api/api/web/api/echo/__init__.py
  api/api/web/api/echo/schema.py
  api/api/web/api/echo/views.py
  api/api/web/api/monitoring/__init__.py
  api/api/web/api/monitoring/views.py
  api/api/web/api/router.py
  api/api/web/application.py
  api/api/web/lifetime.py
  api/deploy/Dockerfile
  api/deploy/docker-compose.dev.yml
  api/deploy/docker-compose.yml
  api/poetry.lock
  api/pyproject.toml
Labels: Structure, api

#5 nextJSの環境構築
  .vscode/extensions.json
  .vscode/settings.json
  web/.editorconfig
  web/.eslintrc.json
  web/.gitignore
  web/.husky/pre-commit
  web/.lintstagedrc.json
  web/.prettierrc.json
  web/README.md
  web/next.config.js
  web/package-lock.json
  web/package.json
  web/pages/_app.tsx
  web/pages/_document.tsx
  web/pages/api/hello.ts
  web/pages/index.tsx
  web/public/favicon.ico
  web/public/next.svg
  web/public/vercel.svg
  web/styles/Home.module.css
  web/styles/globals.css
  web/tsconfig.json
  web/yarn.lock
Labels: Structure, WEB

#8 Rename tests.yml to api-tests.yml
  .github/workflows/api-tests.yml
Labels: Structure

#11 APIのGithub Actionsが通るようにする
  .github/workflows/api-tests.yml
  .github/workflows/api.yml
  .vscode/settings.json
  LICENSE
  README.md
  api/.pre-commit-config.yaml
  api/Dockerfile
  api/api/tkq.py
  docker-compose.yml
  web/public/next.svg
  web/public/vercel.svg
Labels: Structure

#18 #17 fix docker-compose bug for windows
  docker-compose.yml
Labels: Structure, BUG, Docker

#20 コードの変更内容をとれるようにした
  .gitignore
  .vscode/settings.json
  api/.python-version
  api/api/db/dao/user_dao.py
  api/api/libs/oauth/github.py
  api/api/static.py
  api/api/tests/test_dummy.py
  api/api/tests/test_echo.py
  api/api/web/api/auth/github/views.py
  api/api/web/api/token/shema.py
  api/api/web/api/token/views.py
  api/pyproject.toml
  docker-compose.yml
  extension/package.json
  extension/src/common/auth.ts
  extension/src/extension.ts
  extension/src/static.ts
  extension/yarn.lock
  web/.env.sample
  web/.gitignore
  web/components/layouts/main/Header/index.tsx
  web/lib/axios.ts
  web/next.config.js
  web/package.json
  web/pages/callback.tsx
  web/pages/login.tsx
  web/tsconfig.json
  web/yarn.lock
Labels: vscode
